#navbar{
    height: 180px;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0 ;

}

#navbar-itens{
    flex-direction: column;
    text-align: center;
}

#navbar-itens li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

#clients-container{
    grid-template-columns: repeat(2, 1fr);
}

.client{
    width: 50%;
}

/* Features */

#features-container{
    grid-template-columns: 1fr;
}

#features-containers .feature:nth-child(2){
    margin: 15px 0;
}

/* Product */

#product-container{
    flex-direction: column;
}

#itens{
    width: 90%;
}

.iten{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Showcase */

#showcase-container{
    padding: 20px;
}

/* Testimonials */

.testimonial{
    flex-direction: column;
    text-align: center;
}

/* Gallery */

#gallery-container{
    grid-template-columns: 1fr;
}

.gallery-img{
    width: 100%;
}